.Input {
    padding: 10px;
    box-sizing: border-box;
}

.Half{
    width: 50%;
    display: inline-block;
}

.Full{
    width: 100%;
    display: block;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.InputElement:focus {
    outline: none;
    background-color: #b5e7ff;
}

.Invalid {
    border: 3px solid #3372cc;
    background-color: #f4f6f7;
}